.body{
    color: #fff!important;
    
}
.dashboard-body{
    /* background-color: #32322f!important; */
}
#summary, input, select {
    border: 0 !important;
    outline: 0 !important;
    border-bottom: 1px solid #121212!important;
}
.form-control:focus {
    border-color: #121212!important;
    box-shadow: 0px 1px 0px 0px #121212!important;
  }

input.form-control:focus {
    border-color: #121212!important;
    box-shadow: 0px 1px 0px 0px #121212!important;
  }

.dashboard-button {
    background-color: #121212!important;
    color: white!important;
}

.dashboard-button:hover{
    background-color: white!important;
    color: #121212!important;
    border: 1px solid #121212!important;
}
.alert{
    color: red!important;
}

.education_details{
    background-color: #414141;
    color: #fff;
}

.education_details:hover{
    background-color: #313030;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dashboard_box{
    background-color: #fff;
    border-radius: 10px;
}
