body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

 :root {
    --color: #FA4E1C;
    --primary-color: #e63946;
    --secondary-color: #f3e9dc;
    --shade1-color: #a8dadc;
    --shade2-color: #457b9d;
    --shade3-color: #1d3557;
}

.display-image {
    background-image: url("/images/2109978.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    /* height: 100vh; */
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* position: fixed; */
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    padding-top:20%;
    padding-bottom:20%;
}

li.nav-item {
    padding: 0px 20px;
}

li.nav-item>a {
    color: var(--secondary-color) !important;
    font-size: 18px !important;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

li.nav-item.active {
    background-color: var(--color);
    border-radius: 10px 20px;
}

li.nav-item:hover {
    background-color: var(--color);
    border-radius: 10px 20px;
}
.scroll-spy{
    background-color: black;
    transition: background-color 200ms linear;
}

.hero-quote {
    /* position: absolute; */
    /* top: 35%;
    left: 50%; */
}

.hero-text {
/* font-size: 80px; */
}

.about-me{
    /* height: 100vh; */
    background-image: url("/images/about-image.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
    /* background-color: var(--shade2-color); */
}

.bar {
    width: 60px;
    height: 2px;
    background-color: var(--color);
}
span{
    display: inline;
}

.about-section, .my-resume-container{

    color: white;
    font-size: 16.5px;
}
.about-section i{
   color: var(--color);
   padding-right: 1px;
}
.about-section h4{
    letter-spacing: 2px;
 }
 .interest-container{
     background-color: var(--color);
 }
 .interest-container h5{
    color: white;
}
.swimming{
    color: var(--shade3-color);
}
.football {
    color: var(--shade2-color)
}
.movies {
    color: var(--shade1-color)
}
.cooking {
    color: var(--secondary-color)
}
.contact-me{
    height: 90vh;
    background-color: white;
    /* color: var(--secondary-color); */
}

i.circ {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px white;
    padding: 0.5em 0.6em;

  }
  .contact-phone h4, .contact-phone p{
      color: white;
  }

  .btn {
      background-color: var(--color);
      color: white;
  }

  .btn:hover{
    transition: all 1s ease-in-out;
      background-color: white;
      border: 1px solid var(--color);
      color: var(--color);
  }
/* .contact-icon{
    background-color: var(--shade1-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
} */

.my-resume, .card, .my-skills, .my-recent-works{
    background-color: #0e0e0e;
}

.educational-background-container{
    box-shadow: 10px 10px 19px #1c1e22;
    color: rgb(196, 194, 194);
    border-radius: 10px;
    /* border: 3px solid; */

    /* border-image: linear-gradient(0deg, #f64f59, var(--color), #fff) 1; */

}

.educational-background-container:hover{

    box-shadow: 15px 15px 25px 5px #26272b;
    color: white;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
    /* border: 3px solid; */
    /* border-image: linear-gradient(0deg, #fff, var(--color), #f64f59) 1; */

}
.events li {
    display: flex;
    color: #999;
  }

  .events time {
    position: relative;
    padding: 0 1.5em;  }

  .events time::after {
     content: "";
     position: absolute;
     z-index: 2;
     right: 0;
     top: 0;
     transform: translateX(50%);
     border-radius: 50%;
     background: #fff;
     border: 1px #ccc solid;
     width: 1.8em;
     height: 1.8em;
  }


  .events span {
    padding: 0 1.5em 1.5em 1.5em;
    position: relative;
  }

  .events span::before {
     content: "";
     position: absolute;
     z-index: 1;
     left: 0;
     height: 100%;
     border-left: 1px #ccc solid;
  }

  .events strong {
     display: block;
     font-weight: bolder;
  }

  .events { margin: 1em; width: 50%; }
  .events,
  .events *::before,
  .events *::after { box-sizing: border-box; font-family: arial; }

  .work-experience, .my-interpersonalskills, .contact-me{
      background-color: #121212;
  }


